.Carrinho {

  margin: 0 auto;
  /* width: 60px; */
  /* flex-shrink: 0; */
  /* inline-size: 20px; */
}
.Badge {
  position: relative;
  top: 10px;
  left: 35px;
  font-size: 0.8em;
  right: 2px;
  padding: 2px 8px;
  border-radius: 50%;
  background: red;
  color: white;
}
