.Carrinho {

  margin: 0 auto;
  /* flex-shrink: 0; */
  /* inline-size: 20px; */
}
.Badge {
  position: absolute;
  top: 30px;
  font-size: 0.8em;
  right: 2px;
  padding: 2px 8px;
  border-radius: 50%;
  background: red;
  color: white;
}
