.Preview {
  background-color: black;
  width: "100%";
  height: '200px';
  box-sizing: border-box;
  margin: 0 auto;
}
.Sidebar {
  /* background-color: grey; */
}
.Avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.Avatar img {
  width: 200px;
  height: 200px;
}
.menuItem {
  cursor: pointer;
}
.menuItem:hover{
  background-color: #7F4894;
}
.Modens {
  height: 400px;
  overflow-y: auto;
  padding: 10px;
  /* border: 1px solid black; */
}

.SimpleConfig {
  width: 100%;
  background-color: #1A2B6D;
  height: 200px;
  overflow-y: auto;
  padding: 10px;
  color: white;
  /* border: 1px solid black; */
}